body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26829 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u26830 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26832 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u26832_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26832_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26832_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26832_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u26833 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u26834 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26835 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26836 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u26837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u26837 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u26838 {
  position:absolute;
  left:50px;
  top:13px;
  width:308px;
  word-wrap:break-word;
}
#u26839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26839 {
  position:absolute;
  left:10px;
  top:38px;
  width:20px;
  height:20px;
}
#u26840 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u26842 {
  position:absolute;
  left:336px;
  top:35px;
  width:7px;
  height:26px;
}
#u26843 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26844 {
  position:absolute;
  left:327px;
  top:35px;
  width:26px;
  height:26px;
}
#u26845 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F16366;
}
#u26846 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:60px;
  font-size:18px;
  color:#F16366;
}
#u26847 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u26848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26849 {
  position:absolute;
  left:10px;
  top:87px;
  width:30px;
  height:30px;
}
#u26850 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26851_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:33px;
}
#u26851 {
  position:absolute;
  left:19px;
  top:87px;
  width:12px;
  height:30px;
  font-size:14px;
}
#u26852 {
  position:absolute;
  left:2px;
  top:7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26853 {
  position:absolute;
  left:0px;
  top:132px;
  width:360px;
  height:508px;
  overflow:hidden;
}
#u26853_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:508px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u26853_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:900px;
}
#u26854 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:900px;
  line-height:28px;
}
#u26855 {
  position:absolute;
  left:10px;
  top:2px;
  width:340px;
  word-wrap:break-word;
}
