body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1442 {
  position:absolute;
  left:168px;
  top:0px;
  width:40px;
  height:20px;
  overflow:hidden;
}
#u1442_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1442_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1442_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1442_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u1444 {
  position:absolute;
  left:50px;
  top:2px;
  width:323px;
  word-wrap:break-word;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1445 {
  position:absolute;
  left:7px;
  top:7px;
  width:7px;
  height:7px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1447 {
  position:absolute;
  left:14px;
  top:7px;
  width:7px;
  height:7px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1449 {
  position:absolute;
  left:21px;
  top:7px;
  width:7px;
  height:7px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1451 {
  position:absolute;
  left:28px;
  top:7px;
  width:7px;
  height:7px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1453 {
  position:absolute;
  left:35px;
  top:7px;
  width:7px;
  height:7px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleBraille', 'Apple Braille';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1455 {
  position:absolute;
  left:168px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'AppleBraille', 'Apple Braille';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1456 {
  position:absolute;
  left:0px;
  top:3px;
  width:40px;
  word-wrap:break-word;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1458 {
  position:absolute;
  left:345px;
  top:5px;
  width:23px;
  height:10px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:-3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:347px;
  top:7px;
  width:18px;
  height:6px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:-5px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:369px;
  top:8px;
  width:2px;
  height:4px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(136, 136, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1464 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1465 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1467 {
  position:absolute;
  left:0px;
  top:22px;
  width:40px;
  height:40px;
}
#u1468 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1469 {
  position:absolute;
  left:14px;
  top:32px;
  width:12px;
  height:20px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1471 {
  position:absolute;
  left:0px;
  top:64px;
  width:120px;
  height:50px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1472 {
  position:absolute;
  left:10px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u1473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1473 {
  position:absolute;
  left:120px;
  top:64px;
  width:255px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1474 {
  position:absolute;
  left:10px;
  top:17px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1475 {
  position:absolute;
  left:0px;
  top:114px;
  width:120px;
  height:50px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1476 {
  position:absolute;
  left:10px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1477 {
  position:absolute;
  left:120px;
  top:114px;
  width:255px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1478 {
  position:absolute;
  left:10px;
  top:17px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1479 {
  position:absolute;
  left:297px;
  top:85px;
  width:16px;
  height:12px;
}
#u1480 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u1481 {
  position:absolute;
  left:275px;
  top:82px;
  width:12px;
  height:17px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1483 {
  position:absolute;
  left:343px;
  top:81px;
  width:20px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1483_img.selected {
}
#u1483.selected {
}
#u1484 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1485 {
  position:absolute;
  left:297px;
  top:133px;
  width:16px;
  height:12px;
}
#u1486 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u1487 {
  position:absolute;
  left:275px;
  top:130px;
  width:12px;
  height:17px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1489 {
  position:absolute;
  left:343px;
  top:129px;
  width:20px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1489_img.selected {
}
#u1489.selected {
}
#u1490 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1492 {
  position:absolute;
  left:500px;
  top:302px;
  width:375px;
  height:50px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1493 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1494 {
  position:absolute;
  left:500px;
  top:352px;
  width:375px;
  height:70px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1497 {
  position:absolute;
  left:510px;
  top:307px;
  width:40px;
  height:40px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u1499 {
  position:absolute;
  left:517px;
  top:326px;
  width:26px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1500 {
  position:absolute;
  left:2px;
  top:-7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u1501 {
  position:absolute;
  left:517px;
  top:326px;
  width:26px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1502 {
  position:absolute;
  left:2px;
  top:-7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1503 {
  position:absolute;
  left:500px;
  top:422px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1505 {
  position:absolute;
  left:625px;
  top:422px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1507 {
  position:absolute;
  left:750px;
  top:422px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1509 {
  position:absolute;
  left:500px;
  top:483px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1510 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1511 {
  position:absolute;
  left:625px;
  top:483px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1513 {
  position:absolute;
  left:750px;
  top:483px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1515 {
  position:absolute;
  left:500px;
  top:544px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1517 {
  position:absolute;
  left:625px;
  top:544px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1519 {
  position:absolute;
  left:750px;
  top:544px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1521 {
  position:absolute;
  left:500px;
  top:605px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:22px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1523 {
  position:absolute;
  left:625px;
  top:605px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:61px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1525 {
  position:absolute;
  left:750px;
  top:605px;
  width:125px;
  height:61px;
  font-size:32px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:22px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u1528 {
  position:absolute;
  left:797px;
  top:626px;
  width:32px;
  height:20px;
  font-size:14px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1531_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:5px;
}
#u1531 {
  position:absolute;
  left:809px;
  top:635px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1532 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:5px;
}
#u1533 {
  position:absolute;
  left:809px;
  top:635px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1534 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1535 {
  position:absolute;
  left:520px;
  top:379px;
  width:71px;
  height:16px;
}
#u1536 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1538_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:18px;
}
#u1538 {
  position:absolute;
  left:835px;
  top:320px;
  width:21px;
  height:15px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1540 {
  position:absolute;
  left:825px;
  top:307px;
  width:40px;
  height:40px;
}
#u1541 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1542 {
  position:absolute;
  left:589px;
  top:372px;
  width:180px;
  height:30px;
}
#u1542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1544 {
  position:absolute;
  left:1000px;
  top:64px;
  width:375px;
  height:603px;
}
#u1545 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1546 {
  position:absolute;
  left:1128px;
  top:183px;
  width:120px;
  height:120px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u1548 {
  position:absolute;
  left:1036px;
  top:336px;
  width:298px;
  height:56px;
  text-align:center;
  line-height:28px;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1550 {
  position:absolute;
  left:1115px;
  top:523px;
  width:140px;
  height:40px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
