body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u403 {
  position:absolute;
  left:40px;
  top:240px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u403_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u403.selected {
}
#u404 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u405 {
  position:absolute;
  left:40px;
  top:200px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u405_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u405.selected {
}
#u406 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u407 {
  position:absolute;
  left:40px;
  top:320px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u407_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u407.selected {
}
#u408 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u409 {
  position:absolute;
  left:40px;
  top:360px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u409_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u409.selected {
}
#u410 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u411 {
  position:absolute;
  left:40px;
  top:280px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u411_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u411.selected {
}
#u412 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:0px;
  top:110px;
  width:1300px;
  height:40px;
}
#u415 {
  position:absolute;
  left:2px;
  top:12px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u416 {
  position:absolute;
  left:40px;
  top:0px;
  width:400px;
  height:60px;
  font-size:36px;
}
#u417 {
  position:absolute;
  left:0px;
  top:5px;
  width:400px;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u418 {
  position:absolute;
  left:40px;
  top:110px;
  width:120px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u418_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u418.selected {
}
#u419 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u420 {
  position:absolute;
  left:160px;
  top:110px;
  width:120px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u420_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u420.selected {
}
#u421 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u422 {
  position:absolute;
  left:280px;
  top:110px;
  width:120px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u422_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u422.selected {
}
#u423 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u424 {
  position:absolute;
  left:400px;
  top:110px;
  width:120px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u424_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u424.selected {
}
#u425 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u426 {
  position:absolute;
  left:520px;
  top:110px;
  width:120px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u426_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u426.selected {
}
#u427 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u428 {
  position:absolute;
  left:1160px;
  top:40px;
  width:60px;
  height:30px;
  text-align:center;
}
#u429 {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u430 {
  position:absolute;
  left:1160px;
  top:10px;
  width:60px;
  height:30px;
  text-align:center;
}
#u431 {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  position:absolute;
  left:40px;
  top:70px;
  width:112px;
  height:16px;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u435 {
  position:absolute;
  left:0px;
  top:510px;
  width:1300px;
  height:300px;
}
#u436 {
  position:absolute;
  left:2px;
  top:142px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u437 {
  position:absolute;
  left:130px;
  top:530px;
  width:300px;
  height:90px;
  font-size:14px;
  line-height:28px;
}
#u438 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u439 {
  position:absolute;
  left:387px;
  top:733px;
  width:527px;
  height:60px;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u441 {
  position:absolute;
  left:450px;
  top:530px;
  width:60px;
  height:30px;
  font-size:14px;
  line-height:28px;
}
#u442 {
  position:absolute;
  left:0px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u443 {
  position:absolute;
  left:450px;
  top:560px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u444 {
  position:absolute;
  left:0px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u445 {
  position:absolute;
  left:1120px;
  top:530px;
  width:100px;
  height:100px;
}
#u446 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:28px;
}
#u447 {
  position:absolute;
  left:1120px;
  top:640px;
  width:100px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:28px;
}
#u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u449 {
  position:absolute;
  left:450px;
  top:620px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u450 {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u451 {
  position:absolute;
  left:40px;
  top:530px;
  width:80px;
  height:80px;
}
#u452 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u453 {
  position:absolute;
  left:450px;
  top:590px;
  width:60px;
  height:30px;
  font-size:14px;
  line-height:28px;
}
#u454 {
  position:absolute;
  left:0px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u456 {
  position:absolute;
  left:40px;
  top:170px;
  width:30px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u457 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u458 {
  position:absolute;
  left:170px;
  top:170px;
  width:90px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u459 {
  position:absolute;
  left:0px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u460 {
  position:absolute;
  left:90px;
  top:170px;
  width:60px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u461 {
  position:absolute;
  left:0px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u462 {
  position:absolute;
  left:70px;
  top:170px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u463 {
  position:absolute;
  left:0px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u464 {
  position:absolute;
  left:150px;
  top:170px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u465 {
  position:absolute;
  left:0px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u466 {
  position:absolute;
  left:180px;
  top:200px;
  width:1040px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u467 {
  position:absolute;
  left:10px;
  top:6px;
  width:1030px;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u468 {
  position:absolute;
  left:180px;
  top:240px;
  width:1040px;
  height:250px;
  font-size:14px;
  line-height:28px;
}
#u469 {
  position:absolute;
  left:10px;
  top:10px;
  width:1020px;
  word-wrap:break-word;
}
