body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
  background:inherit;
  background-color:rgba(201, 95, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14005 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
}
#u14006 {
  position:absolute;
  left:2px;
  top:112px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14007 {
  position:absolute;
  left:78px;
  top:166px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u14008 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14010 {
  position:absolute;
  left:74px;
  top:190px;
  width:40px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u14011 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u14012 {
  position:absolute;
  left:118px;
  top:196px;
  width:8px;
  height:4px;
}
#u14013 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1060px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14014 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:1060px;
}
#u14015 {
  position:absolute;
  left:2px;
  top:522px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14016 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:280px;
}
#u14016_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:285px;
}
#u14018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14018 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14019 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14020 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14021 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14022 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14023 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14024 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14025 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14026 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14027 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14028 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14029 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14030 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14031 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14032 {
  position:absolute;
  left:200px;
  top:0px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u14032_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14033 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u14034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14034 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14035 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14036 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14037 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14038 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14039 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14040 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14041 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14042 {
  position:absolute;
  left:200px;
  top:40px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u14042_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14043 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u14044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14044 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14045 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14046 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14047 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14048 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14049 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14050 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14051 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14052 {
  position:absolute;
  left:200px;
  top:160px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u14052_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14053 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u14054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14054 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14055 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14056 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14057 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14058 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14059 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14060 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14061 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14062 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14063 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14064 {
  position:absolute;
  left:200px;
  top:200px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u14064_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14065 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u14066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14066 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14067 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14068 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14069 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14070 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14071 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14072 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14073 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14074 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14075 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14076 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14077 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14078 {
  position:absolute;
  left:200px;
  top:240px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u14078_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14079 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u14080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14080 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14081 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14082 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14083 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14084 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14085 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14086 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14087 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14088 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u14089 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14090 {
  position:absolute;
  left:200px;
  top:80px;
  width:180px;
  height:120px;
  visibility:hidden;
}
#u14090_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:125px;
}
#u14092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14092 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14093 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14094 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14095 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14096 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14097 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14098 {
  position:absolute;
  left:200px;
  top:120px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u14098_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14099 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u14100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14100 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14101 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14102 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14103 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14104 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14105 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14106 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14107 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14108 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14109 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u14110 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u14111 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14112 {
  position:absolute;
  left:25px;
  top:182px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u14112_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14112_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14113 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u14113_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14114 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:125px;
}
#u14115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u14115 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14116 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u14117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u14117 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:14px;
}
#u14118 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u14119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u14119 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14120 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u14121_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:140px;
  height:131px;
}
#u14121 {
  position:absolute;
  left:34px;
  top:36px;
  width:120px;
  height:120px;
  color:#FFFFFF;
}
#u14122 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u14123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u14123 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u14124 {
  position:absolute;
  left:12px;
  top:10px;
  width:986px;
  word-wrap:break-word;
}
#u14125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14125 {
  position:absolute;
  left:200px;
  top:40px;
  width:1000px;
  height:1260px;
}
#u14126 {
  position:absolute;
  left:2px;
  top:622px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14127 {
  position:absolute;
  left:220px;
  top:60px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14128 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u14129 {
  position:absolute;
  left:220px;
  top:100px;
  width:960px;
  height:1px;
}
#u14130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u14131 {
  position:absolute;
  left:1090px;
  top:110px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u14132 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u14133 {
  position:absolute;
  left:220px;
  top:160px;
  width:965px;
  height:321px;
}
#u14134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u14134 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u14135 {
  position:absolute;
  left:2px;
  top:90px;
  width:146px;
  word-wrap:break-word;
}
#u14136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:200px;
}
#u14136 {
  position:absolute;
  left:150px;
  top:0px;
  width:810px;
  height:200px;
  font-size:14px;
}
#u14137 {
  position:absolute;
  left:12px;
  top:92px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:116px;
}
#u14138 {
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u14139 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  word-wrap:break-word;
}
#u14140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:116px;
}
#u14140 {
  position:absolute;
  left:150px;
  top:200px;
  width:810px;
  height:116px;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u14141 {
  position:absolute;
  left:12px;
  top:50px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u14142 {
  position:absolute;
  left:380px;
  top:170px;
  width:360px;
  height:180px;
}
#u14143 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u14144 {
  position:absolute;
  left:990px;
  top:110px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u14145 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
