body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27618 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u27619 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27621 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u27621_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27621_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27621_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27621_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u27622 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u27623 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27624 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27625 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u27626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u27626 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u27627 {
  position:absolute;
  left:50px;
  top:13px;
  width:308px;
  word-wrap:break-word;
}
#u27628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27628 {
  position:absolute;
  left:10px;
  top:38px;
  width:20px;
  height:20px;
}
#u27629 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u27631 {
  position:absolute;
  left:336px;
  top:35px;
  width:7px;
  height:26px;
}
#u27632 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27633 {
  position:absolute;
  left:327px;
  top:35px;
  width:26px;
  height:26px;
}
#u27634 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F16366;
}
#u27635 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:60px;
  font-size:18px;
  color:#F16366;
}
#u27636 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u27637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27638 {
  position:absolute;
  left:10px;
  top:87px;
  width:30px;
  height:30px;
}
#u27639 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27640_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:33px;
}
#u27640 {
  position:absolute;
  left:19px;
  top:87px;
  width:12px;
  height:30px;
  font-size:14px;
}
#u27641 {
  position:absolute;
  left:2px;
  top:7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
