body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
  background:inherit;
  background-color:rgba(201, 95, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15833 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
}
#u15834 {
  position:absolute;
  left:2px;
  top:112px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u15835 {
  position:absolute;
  left:78px;
  top:166px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u15836 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u15838 {
  position:absolute;
  left:74px;
  top:190px;
  width:40px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u15839 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u15840 {
  position:absolute;
  left:118px;
  top:196px;
  width:8px;
  height:4px;
}
#u15841 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1060px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15842 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:1060px;
}
#u15843 {
  position:absolute;
  left:2px;
  top:522px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15844 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:280px;
}
#u15844_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15845 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:285px;
}
#u15846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15846 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15847 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15848 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15849 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15850 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15851 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15852 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15853 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15854 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15855 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15856 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15857 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15858 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15859 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u15860 {
  position:absolute;
  left:200px;
  top:0px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u15860_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15861 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u15862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15862 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15863 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15864 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15865 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15866 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15867 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15868 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15869 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15870 {
  position:absolute;
  left:200px;
  top:40px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u15870_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15871 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u15872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15872 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15873 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15874 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15875 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15876 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15877 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15878 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15879 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15880 {
  position:absolute;
  left:200px;
  top:160px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u15880_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15881 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u15882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15882 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15883 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15884 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15885 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15886 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15887 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15888 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15889 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15890 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15891 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15892 {
  position:absolute;
  left:200px;
  top:200px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u15892_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15893 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u15894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15894 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15895 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15896 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15897 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15898 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15899 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15900 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15901 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15902 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15903 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15904 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15905 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15906 {
  position:absolute;
  left:200px;
  top:240px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u15906_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15907 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u15908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15908 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15909 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15910 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15911 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15912 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15913 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15914 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15915 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15916 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u15917 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15918 {
  position:absolute;
  left:200px;
  top:80px;
  width:180px;
  height:120px;
  visibility:hidden;
}
#u15918_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15919 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:125px;
}
#u15920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15920 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15921 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15922 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15923 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15924 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15925 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15926 {
  position:absolute;
  left:200px;
  top:120px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u15926_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15927 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u15928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15928 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15929 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15930 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15931 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15932 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15933 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15934 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15935 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15936 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15937 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u15938 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u15939 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15940 {
  position:absolute;
  left:25px;
  top:182px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u15940_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15941 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u15941_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15942 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:125px;
}
#u15943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15943 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15944 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u15945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15945 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:14px;
}
#u15946 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u15947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15947 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15948 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u15949_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:140px;
  height:131px;
}
#u15949 {
  position:absolute;
  left:34px;
  top:36px;
  width:120px;
  height:120px;
  color:#FFFFFF;
}
#u15950 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u15951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u15951 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u15952 {
  position:absolute;
  left:12px;
  top:10px;
  width:986px;
  word-wrap:break-word;
}
#u15953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15953 {
  position:absolute;
  left:200px;
  top:40px;
  width:1000px;
  height:1260px;
}
#u15954 {
  position:absolute;
  left:2px;
  top:622px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15955 {
  position:absolute;
  left:220px;
  top:60px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15956 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u15957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u15957 {
  position:absolute;
  left:220px;
  top:95px;
  width:960px;
  height:1px;
}
#u15958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15959 {
  position:absolute;
  left:220px;
  top:160px;
  width:965px;
  height:165px;
}
#u15960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15960 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15961 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15962 {
  position:absolute;
  left:100px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15963 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u15964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15964 {
  position:absolute;
  left:220px;
  top:0px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15965 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15966 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15967 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15968 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15969 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15970 {
  position:absolute;
  left:480px;
  top:0px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15971 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u15972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15972 {
  position:absolute;
  left:620px;
  top:0px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15973 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15974 {
  position:absolute;
  left:700px;
  top:0px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15975 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u15976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15976 {
  position:absolute;
  left:840px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15977 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u15978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15978 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15979 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15980 {
  position:absolute;
  left:100px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15981 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u15982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15982 {
  position:absolute;
  left:220px;
  top:40px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15983 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15984 {
  position:absolute;
  left:320px;
  top:40px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15985 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15986 {
  position:absolute;
  left:400px;
  top:40px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15987 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15988 {
  position:absolute;
  left:480px;
  top:40px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15989 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u15990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15990 {
  position:absolute;
  left:620px;
  top:40px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u15991 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15992 {
  position:absolute;
  left:700px;
  top:40px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u15993 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15994 {
  position:absolute;
  left:840px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u15995 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15996 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15997 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15998 {
  position:absolute;
  left:100px;
  top:80px;
  width:120px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u15999 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u16000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16000 {
  position:absolute;
  left:220px;
  top:80px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16001 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16002 {
  position:absolute;
  left:320px;
  top:80px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16003 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16004 {
  position:absolute;
  left:400px;
  top:80px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16005 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16006 {
  position:absolute;
  left:480px;
  top:80px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16007 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u16008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16008 {
  position:absolute;
  left:620px;
  top:80px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u16009 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16010 {
  position:absolute;
  left:700px;
  top:80px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u16011 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16012 {
  position:absolute;
  left:840px;
  top:80px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u16013 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16014 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16015 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u16016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16016 {
  position:absolute;
  left:100px;
  top:120px;
  width:120px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16017 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u16018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16018 {
  position:absolute;
  left:220px;
  top:120px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16019 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16020 {
  position:absolute;
  left:320px;
  top:120px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16021 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16022 {
  position:absolute;
  left:400px;
  top:120px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16023 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16024 {
  position:absolute;
  left:480px;
  top:120px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u16025 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u16026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16026 {
  position:absolute;
  left:620px;
  top:120px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u16027 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16028 {
  position:absolute;
  left:700px;
  top:120px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u16029 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16030 {
  position:absolute;
  left:840px;
  top:120px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u16031 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u16032 {
  position:absolute;
  left:1090px;
  top:110px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u16033 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u16034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#29ADFC;
}
#u16034 {
  position:absolute;
  left:1091px;
  top:214px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#29ADFC;
}
#u16035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16036 {
  position:absolute;
  left:450px;
  top:310px;
  visibility:hidden;
}
#u16036_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16036_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16037 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  font-size:14px;
}
#u16038 {
  position:absolute;
  left:2px;
  top:90px;
  width:496px;
  word-wrap:break-word;
}
#u16039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16039 {
  position:absolute;
  left:290px;
  top:150px;
  width:90px;
  height:36px;
  font-size:14px;
}
#u16040 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u16041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16041 {
  position:absolute;
  left:120px;
  top:150px;
  width:90px;
  height:36px;
  font-size:14px;
}
#u16042 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u16043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#D7D7D7;
}
#u16043 {
  position:absolute;
  left:450px;
  top:310px;
  width:500px;
  height:200px;
  font-size:48px;
  color:#D7D7D7;
}
#u16044 {
  position:absolute;
  left:2px;
  top:66px;
  width:496px;
  word-wrap:break-word;
}
#u16045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:353px;
}
#u16045 {
  position:absolute;
  left:255px;
  top:450px;
  width:835px;
  height:353px;
}
#u16046 {
  position:absolute;
  left:2px;
  top:168px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
