body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
  background:inherit;
  background-color:rgba(201, 95, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21027 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
}
#u21028 {
  position:absolute;
  left:2px;
  top:112px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u21029 {
  position:absolute;
  left:78px;
  top:166px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u21030 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u21032 {
  position:absolute;
  left:74px;
  top:190px;
  width:40px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u21033 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u21034 {
  position:absolute;
  left:118px;
  top:196px;
  width:8px;
  height:4px;
}
#u21035 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1060px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21036 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:1060px;
}
#u21037 {
  position:absolute;
  left:2px;
  top:522px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21038 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:280px;
}
#u21038_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21039 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:285px;
}
#u21040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21040 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21041 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21042 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21043 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21044 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21045 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21046 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21047 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21048 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21049 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21050 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21051 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21052 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21053 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21054 {
  position:absolute;
  left:200px;
  top:0px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u21054_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21055 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u21056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21056 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21057 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21058 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21059 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21060 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21061 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21062 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21063 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21064 {
  position:absolute;
  left:200px;
  top:40px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u21064_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21065 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u21066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21066 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21067 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21068 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21069 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21070 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21071 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21072 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21073 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21074 {
  position:absolute;
  left:200px;
  top:160px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u21074_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21075 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u21076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21076 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21077 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21078 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21079 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21080 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21081 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21082 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21083 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21084 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21085 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21086 {
  position:absolute;
  left:200px;
  top:200px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u21086_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21087 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u21088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21088 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21089 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21090 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21091 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21092 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21093 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21094 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21095 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21096 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21097 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21098 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21099 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21100 {
  position:absolute;
  left:200px;
  top:240px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u21100_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21101 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u21102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21102 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21103 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21104 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21105 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21106 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21107 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21108 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21109 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21110 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u21111 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21112 {
  position:absolute;
  left:200px;
  top:80px;
  width:180px;
  height:120px;
  visibility:hidden;
}
#u21112_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21113 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:125px;
}
#u21114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21114 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21115 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21116 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21117 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21118 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21119 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21120 {
  position:absolute;
  left:200px;
  top:120px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u21120_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21121 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u21122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21122 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21123 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21124 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21125 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21126 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21127 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21128 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21129 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21130 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21131 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21132 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u21133 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21134 {
  position:absolute;
  left:25px;
  top:182px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u21134_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21134_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21135 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u21135_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21136 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:125px;
}
#u21137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u21137 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21138 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u21139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u21139 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:14px;
}
#u21140 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u21141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u21141 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21142 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u21143_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:140px;
  height:131px;
}
#u21143 {
  position:absolute;
  left:34px;
  top:36px;
  width:120px;
  height:120px;
  color:#FFFFFF;
}
#u21144 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u21145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u21145 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u21146 {
  position:absolute;
  left:12px;
  top:10px;
  width:986px;
  word-wrap:break-word;
}
#u21147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21147 {
  position:absolute;
  left:200px;
  top:40px;
  width:1000px;
  height:1260px;
}
#u21148 {
  position:absolute;
  left:2px;
  top:622px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u21149 {
  position:absolute;
  left:220px;
  top:100px;
  width:960px;
  height:1px;
}
#u21150 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21151 {
  position:absolute;
  left:220px;
  top:60px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21152 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21153 {
  position:absolute;
  left:220px;
  top:160px;
  width:965px;
  height:725px;
}
#u21154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21154 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21155 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21156 {
  position:absolute;
  left:180px;
  top:0px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21157 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21158 {
  position:absolute;
  left:0px;
  top:60px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21159 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21160 {
  position:absolute;
  left:180px;
  top:60px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21161 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21162 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21163 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21164 {
  position:absolute;
  left:180px;
  top:120px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21165 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21166 {
  position:absolute;
  left:0px;
  top:180px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21167 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21168 {
  position:absolute;
  left:180px;
  top:180px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21169 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21170 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21171 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21172 {
  position:absolute;
  left:180px;
  top:240px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21173 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21174 {
  position:absolute;
  left:0px;
  top:300px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21175 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21176 {
  position:absolute;
  left:180px;
  top:300px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21177 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21178 {
  position:absolute;
  left:0px;
  top:360px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21179 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21180 {
  position:absolute;
  left:180px;
  top:360px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21181 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21182 {
  position:absolute;
  left:0px;
  top:420px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21183 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21184 {
  position:absolute;
  left:180px;
  top:420px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21185 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21186 {
  position:absolute;
  left:0px;
  top:480px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21187 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21188 {
  position:absolute;
  left:180px;
  top:480px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21189 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21190 {
  position:absolute;
  left:0px;
  top:540px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21191 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21192 {
  position:absolute;
  left:180px;
  top:540px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21193 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21194 {
  position:absolute;
  left:0px;
  top:600px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21195 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21196 {
  position:absolute;
  left:180px;
  top:600px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21197 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u21198 {
  position:absolute;
  left:0px;
  top:660px;
  width:180px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21199 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u21200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
}
#u21200 {
  position:absolute;
  left:180px;
  top:660px;
  width:780px;
  height:60px;
  font-size:14px;
}
#u21201 {
  position:absolute;
  left:12px;
  top:22px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21202 {
  position:absolute;
  left:410px;
  top:230px;
  width:390px;
  height:40px;
}
#u21203 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21204 {
  position:absolute;
  left:420px;
  top:235px;
  width:370px;
  height:30px;
}
#u21204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21205 {
  position:absolute;
  left:410px;
  top:290px;
  width:390px;
  height:40px;
}
#u21206 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21207 {
  position:absolute;
  left:420px;
  top:295px;
  width:355px;
  height:30px;
}
#u21207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21208 {
  position:absolute;
  left:410px;
  top:350px;
  width:390px;
  height:40px;
}
#u21209 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21210 {
  position:absolute;
  left:420px;
  top:355px;
  width:357px;
  height:30px;
}
#u21210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u21211 {
  position:absolute;
  left:777px;
  top:362px;
  width:13px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u21212 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u21213 {
  position:absolute;
  left:410px;
  top:470px;
  width:390px;
  height:40px;
}
#u21213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21213_input:disabled {
  color:grayText;
}
#u21214 {
  position:absolute;
  left:410px;
  top:840px;
  width:610px;
  height:200px;
}
#u21214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:200px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u21215 {
  position:absolute;
  left:775px;
  top:302px;
  width:15px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u21216 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21217 {
  position:absolute;
  left:410px;
  top:170px;
  width:390px;
  height:40px;
}
#u21217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21217_input:disabled {
  color:grayText;
}
#u21218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21218 {
  position:absolute;
  left:410px;
  top:409px;
  width:390px;
  height:40px;
}
#u21219 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21220 {
  position:absolute;
  left:420px;
  top:414px;
  width:350px;
  height:30px;
}
#u21220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u21221 {
  position:absolute;
  left:780px;
  top:421px;
  width:13px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u21222 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u21223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21223 {
  position:absolute;
  left:410px;
  top:530px;
  width:290px;
  height:40px;
}
#u21224 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21225 {
  position:absolute;
  left:420px;
  top:535px;
  width:270px;
  height:30px;
}
#u21225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21226 {
  position:absolute;
  left:410px;
  top:590px;
  width:390px;
  height:40px;
}
#u21227 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21228 {
  position:absolute;
  left:420px;
  top:595px;
  width:357px;
  height:30px;
}
#u21228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u21229 {
  position:absolute;
  left:777px;
  top:602px;
  width:15px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u21230 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21231 {
  position:absolute;
  left:410px;
  top:650px;
  width:390px;
  height:40px;
}
#u21232 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21233 {
  position:absolute;
  left:420px;
  top:655px;
  width:350px;
  height:30px;
}
#u21233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u21234 {
  position:absolute;
  left:780px;
  top:662px;
  width:15px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u21235 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21236 {
  position:absolute;
  left:410px;
  top:710px;
  width:390px;
  height:40px;
}
#u21236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21236_input:disabled {
  color:grayText;
}
#u21237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 163, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21237 {
  position:absolute;
  left:410px;
  top:770px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u21238 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u21239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 163, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21239 {
  position:absolute;
  left:720px;
  top:770px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u21240 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u21241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 163, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21241 {
  position:absolute;
  left:410px;
  top:1060px;
  width:240px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21242 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
#u21243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21243 {
  position:absolute;
  left:1090px;
  top:110px;
  width:90px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21244 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21245 {
  position:absolute;
  left:710px;
  top:530px;
  width:90px;
  height:40px;
}
#u21245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21245_input:disabled {
  color:grayText;
}
#u21246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21246 {
  position:absolute;
  left:370px;
  top:450px;
  width:500px;
  height:300px;
  font-size:20px;
}
#u21247 {
  position:absolute;
  left:2px;
  top:136px;
  width:496px;
  word-wrap:break-word;
}
#u21248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21248 {
  position:absolute;
  left:450px;
  top:570px;
  width:60px;
  height:60px;
}
#u21249 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
