body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
  background:inherit;
  background-color:rgba(201, 95, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13061 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
}
#u13062 {
  position:absolute;
  left:2px;
  top:112px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u13063 {
  position:absolute;
  left:78px;
  top:166px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u13064 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u13066 {
  position:absolute;
  left:74px;
  top:190px;
  width:40px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u13067 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u13068 {
  position:absolute;
  left:118px;
  top:196px;
  width:8px;
  height:4px;
}
#u13069 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1060px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13070 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:1060px;
}
#u13071 {
  position:absolute;
  left:2px;
  top:522px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13072 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:280px;
}
#u13072_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13073 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:285px;
}
#u13074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13074 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13075 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13076 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13077 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13078 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13079 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13080 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13081 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13082 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13083 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13084 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13085 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13086 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13087 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13088 {
  position:absolute;
  left:200px;
  top:0px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u13088_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13089 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13090 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13091 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13092 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13093 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13094 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13095 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13096 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13097 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13098 {
  position:absolute;
  left:200px;
  top:40px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u13098_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13099 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u13100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13100 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13101 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13102 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13103 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13104 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13105 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13106 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13107 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13108 {
  position:absolute;
  left:200px;
  top:160px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u13108_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13109 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u13110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13110 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13111 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13112 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13113 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13114 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13115 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13116 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13117 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13118 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13119 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13120 {
  position:absolute;
  left:200px;
  top:200px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u13120_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13121 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u13122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13122 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13123 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13124 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13125 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13126 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13127 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13128 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13129 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13130 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13131 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13132 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13133 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13134 {
  position:absolute;
  left:200px;
  top:240px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u13134_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u13136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13136 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13137 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13138 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13139 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13140 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13141 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13142 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13143 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13144 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u13145 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13146 {
  position:absolute;
  left:200px;
  top:80px;
  width:180px;
  height:120px;
  visibility:hidden;
}
#u13146_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13147 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:125px;
}
#u13148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13148 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13149 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13150 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13151 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13152 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13153 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13154 {
  position:absolute;
  left:200px;
  top:120px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u13154_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u13156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13156 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13157 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13158 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13159 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13160 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13161 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13162 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13163 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13164 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13165 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u13166 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u13167 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u13168 {
  position:absolute;
  left:25px;
  top:182px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u13168_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13168_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13169 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u13169_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13170 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:125px;
}
#u13171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13171 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13172 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13173 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:14px;
}
#u13174 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13175 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13176 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13177_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:140px;
  height:131px;
}
#u13177 {
  position:absolute;
  left:34px;
  top:36px;
  width:120px;
  height:120px;
  color:#FFFFFF;
}
#u13178 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u13179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13179 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u13180 {
  position:absolute;
  left:12px;
  top:10px;
  width:986px;
  word-wrap:break-word;
}
#u13181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13181 {
  position:absolute;
  left:200px;
  top:40px;
  width:1000px;
  height:1260px;
}
#u13182 {
  position:absolute;
  left:2px;
  top:622px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13183 {
  position:absolute;
  left:220px;
  top:60px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13184 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u13185 {
  position:absolute;
  left:220px;
  top:95px;
  width:960px;
  height:1px;
}
#u13186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13187 {
  position:absolute;
  left:290px;
  top:110px;
  width:120px;
  height:36px;
}
#u13187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u13187_input:disabled {
  color:grayText;
}
#u13188 {
  position:absolute;
  left:220px;
  top:160px;
  width:965px;
  height:165px;
}
#u13189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13189 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13190 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u13191 {
  position:absolute;
  left:100px;
  top:0px;
  width:220px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13192 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u13193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13193 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13194 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13195 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13196 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13197 {
  position:absolute;
  left:480px;
  top:0px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13198 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u13199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13199 {
  position:absolute;
  left:620px;
  top:0px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13200 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13201 {
  position:absolute;
  left:700px;
  top:0px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13202 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u13203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13203 {
  position:absolute;
  left:840px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13204 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u13205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13205 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13206 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u13207 {
  position:absolute;
  left:100px;
  top:40px;
  width:220px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13208 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13209 {
  position:absolute;
  left:320px;
  top:40px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#29ADFC;
  line-height:28px;
}
#u13210 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13211 {
  position:absolute;
  left:400px;
  top:40px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13212 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13213 {
  position:absolute;
  left:480px;
  top:40px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13214 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u13215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13215 {
  position:absolute;
  left:620px;
  top:40px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13216 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13217 {
  position:absolute;
  left:700px;
  top:40px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13218 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13219 {
  position:absolute;
  left:840px;
  top:40px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13220 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13221 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13222 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u13223 {
  position:absolute;
  left:100px;
  top:80px;
  width:220px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13224 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13225 {
  position:absolute;
  left:320px;
  top:80px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#999999;
  line-height:28px;
}
#u13226 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13227 {
  position:absolute;
  left:400px;
  top:80px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13228 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13229 {
  position:absolute;
  left:480px;
  top:80px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13230 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u13231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13231 {
  position:absolute;
  left:620px;
  top:80px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13232 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13233 {
  position:absolute;
  left:700px;
  top:80px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13234 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13235 {
  position:absolute;
  left:840px;
  top:80px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13236 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13237 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13238 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u13239 {
  position:absolute;
  left:100px;
  top:120px;
  width:220px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13240 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13241 {
  position:absolute;
  left:320px;
  top:120px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#29ADFC;
  line-height:28px;
}
#u13242 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13243 {
  position:absolute;
  left:400px;
  top:120px;
  width:80px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13244 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13245 {
  position:absolute;
  left:480px;
  top:120px;
  width:140px;
  height:40px;
  font-size:14px;
  line-height:28px;
}
#u13246 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u13247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13247 {
  position:absolute;
  left:620px;
  top:120px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13248 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13249 {
  position:absolute;
  left:700px;
  top:120px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13250 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13251 {
  position:absolute;
  left:840px;
  top:120px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#3399FF;
  line-height:28px;
}
#u13252 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u13253 {
  position:absolute;
  left:990px;
  top:110px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u13254 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u13255 {
  position:absolute;
  left:490px;
  top:110px;
  width:120px;
  height:36px;
}
#u13255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u13256 {
  position:absolute;
  left:220px;
  top:110px;
  width:70px;
  height:36px;
  font-size:14px;
  line-height:28px;
}
#u13257 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u13258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u13258 {
  position:absolute;
  left:1090px;
  top:110px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u13259 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u13260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u13260 {
  position:absolute;
  left:420px;
  top:110px;
  width:70px;
  height:36px;
  font-size:14px;
  line-height:28px;
}
#u13261 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u13262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#29ADFC;
}
#u13262 {
  position:absolute;
  left:1091px;
  top:214px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#29ADFC;
}
#u13263 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#29ADFC;
}
#u13264 {
  position:absolute;
  left:1135px;
  top:214px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#29ADFC;
}
#u13265 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13266 {
  position:absolute;
  left:450px;
  top:310px;
  visibility:hidden;
}
#u13266_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13266_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13267 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  font-size:14px;
}
#u13268 {
  position:absolute;
  left:2px;
  top:90px;
  width:496px;
  word-wrap:break-word;
}
#u13269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13269 {
  position:absolute;
  left:290px;
  top:150px;
  width:90px;
  height:36px;
  font-size:14px;
}
#u13270 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u13271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13271 {
  position:absolute;
  left:120px;
  top:150px;
  width:90px;
  height:36px;
  font-size:14px;
}
#u13272 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u13273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#D7D7D7;
}
#u13273 {
  position:absolute;
  left:450px;
  top:310px;
  width:500px;
  height:200px;
  font-size:48px;
  color:#D7D7D7;
}
#u13274 {
  position:absolute;
  left:2px;
  top:66px;
  width:496px;
  word-wrap:break-word;
}
