body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
  background:inherit;
  background-color:rgba(201, 95, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:240px;
}
#u12889 {
  position:absolute;
  left:2px;
  top:112px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12890 {
  position:absolute;
  left:78px;
  top:166px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u12891 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12893 {
  position:absolute;
  left:74px;
  top:190px;
  width:40px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u12894 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u12895 {
  position:absolute;
  left:118px;
  top:196px;
  width:8px;
  height:4px;
}
#u12896 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1060px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12897 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:1060px;
}
#u12898 {
  position:absolute;
  left:2px;
  top:522px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12899 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:280px;
}
#u12899_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:285px;
}
#u12901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12901 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12902 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12903 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12904 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12905 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12906 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12907 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12908 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12909 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12910 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12911 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12912 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12913 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12914 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12915 {
  position:absolute;
  left:200px;
  top:0px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u12915_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12916 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u12917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12917 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12918 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12919 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12920 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12921 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12922 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12923 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12924 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12925 {
  position:absolute;
  left:200px;
  top:40px;
  width:180px;
  height:160px;
  visibility:hidden;
}
#u12925_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12926 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:165px;
}
#u12927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12927 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12928 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12929 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12930 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12931 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12932 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12933 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12934 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12935 {
  position:absolute;
  left:200px;
  top:160px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u12935_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12936 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u12937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12937 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12938 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12939 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12940 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12941 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12942 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12943 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12944 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12945 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12946 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12947 {
  position:absolute;
  left:200px;
  top:200px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u12947_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12948 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u12949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12950 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12951 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12952 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12953 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12954 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12955 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12956 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12957 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12958 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12959 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12960 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12961 {
  position:absolute;
  left:200px;
  top:240px;
  width:180px;
  height:200px;
  visibility:hidden;
}
#u12961_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12962 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:205px;
}
#u12963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12963 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12964 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12965 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12966 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12967 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12968 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12969 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12970 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12971 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u12972 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12973 {
  position:absolute;
  left:200px;
  top:80px;
  width:180px;
  height:120px;
  visibility:hidden;
}
#u12973_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12974 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:125px;
}
#u12975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12975 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12976 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12977 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12978 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12979 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12980 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12981 {
  position:absolute;
  left:200px;
  top:120px;
  width:180px;
  height:240px;
  visibility:hidden;
}
#u12981_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12982 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:245px;
}
#u12983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12983 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12984 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12985 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12986 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12987 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12988 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12989 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12990 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12991 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12992 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u12993 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#D7D7D7;
}
#u12994 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12995 {
  position:absolute;
  left:25px;
  top:182px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u12995_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12995_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12996 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u12996_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12997 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:125px;
}
#u12998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u12998 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12999 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13000 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:14px;
}
#u13001 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13002 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13003 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13004_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:140px;
  height:131px;
}
#u13004 {
  position:absolute;
  left:34px;
  top:36px;
  width:120px;
  height:120px;
  color:#FFFFFF;
}
#u13005 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u13006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13006 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u13007 {
  position:absolute;
  left:12px;
  top:10px;
  width:986px;
  word-wrap:break-word;
}
#u13008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13008 {
  position:absolute;
  left:200px;
  top:40px;
  width:1000px;
  height:1260px;
}
#u13009 {
  position:absolute;
  left:2px;
  top:622px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13010 {
  position:absolute;
  left:220px;
  top:60px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13011 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u13012 {
  position:absolute;
  left:220px;
  top:95px;
  width:960px;
  height:1px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13014 {
  position:absolute;
  left:220px;
  top:160px;
  width:965px;
  height:245px;
}
#u13015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u13015 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  font-size:14px;
  text-align:right;
}
#u13016 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u13017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u13017 {
  position:absolute;
  left:150px;
  top:0px;
  width:810px;
  height:60px;
  font-size:14px;
  text-align:left;
}
#u13018 {
  position:absolute;
  left:2px;
  top:22px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u13019 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u13020 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u13021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u13021 {
  position:absolute;
  left:150px;
  top:60px;
  width:810px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u13022 {
  position:absolute;
  left:320px;
  top:20px;
  width:488px;
  word-wrap:break-word;
}
#u13023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u13023 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u13024 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u13025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u13025 {
  position:absolute;
  left:150px;
  top:120px;
  width:810px;
  height:60px;
  font-size:14px;
  text-align:left;
}
#u13026 {
  position:absolute;
  left:2px;
  top:22px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u13027 {
  position:absolute;
  left:0px;
  top:180px;
  width:150px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u13028 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u13029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u13029 {
  position:absolute;
  left:150px;
  top:180px;
  width:810px;
  height:60px;
  font-size:14px;
  text-align:left;
}
#u13030 {
  position:absolute;
  left:2px;
  top:22px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13031 {
  position:absolute;
  left:370px;
  top:410px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13032 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u13033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13033 {
  position:absolute;
  left:370px;
  top:290px;
  width:300px;
  height:40px;
}
#u13034 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13035 {
  position:absolute;
  left:380px;
  top:295px;
  width:280px;
  height:30px;
}
#u13035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13036 {
  position:absolute;
  left:475px;
  top:410px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13037 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u13038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13038 {
  position:absolute;
  left:370px;
  top:170px;
  width:300px;
  height:40px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13040 {
  position:absolute;
  left:380px;
  top:175px;
  width:281px;
  height:30px;
}
#u13040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13041 {
  position:absolute;
  left:680px;
  top:302px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u13042 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13043 {
  position:absolute;
  left:370px;
  top:240px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13044 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u13045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13045 {
  position:absolute;
  left:571px;
  top:240px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13046 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u13047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#29ADFC;
}
#u13047 {
  position:absolute;
  left:641px;
  top:244px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#29ADFC;
}
#u13048 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13049 {
  position:absolute;
  left:440px;
  top:244px;
  width:74px;
  height:16px;
  font-size:14px;
}
#u13050 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u13051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u13051 {
  position:absolute;
  left:1210px;
  top:240px;
  width:130px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u13052 {
  position:absolute;
  left:6px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u13053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u13053 {
  position:absolute;
  left:1210px;
  top:280px;
  width:130px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u13054 {
  position:absolute;
  left:6px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u13055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u13055 {
  position:absolute;
  left:1090px;
  top:110px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u13056 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u13057 {
  position:absolute;
  left:370px;
  top:350px;
  width:300px;
  height:40px;
}
#u13057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13057_input:disabled {
  color:grayText;
}
#u13058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#D7D7D7;
}
#u13058 {
  position:absolute;
  left:450px;
  top:250px;
  width:500px;
  height:200px;
  font-size:48px;
  color:#D7D7D7;
}
#u13059 {
  position:absolute;
  left:2px;
  top:66px;
  width:496px;
  word-wrap:break-word;
}
