body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27642 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u27643 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27645 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u27645_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27645_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27645_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27645_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u27646 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u27647 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27648 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27649 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u27650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u27650 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u27651 {
  position:absolute;
  left:50px;
  top:13px;
  width:308px;
  word-wrap:break-word;
}
#u27652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27652 {
  position:absolute;
  left:10px;
  top:38px;
  width:20px;
  height:20px;
}
#u27653 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u27655 {
  position:absolute;
  left:336px;
  top:35px;
  width:7px;
  height:26px;
}
#u27656 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27657 {
  position:absolute;
  left:327px;
  top:35px;
  width:26px;
  height:26px;
}
#u27658 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F16366;
}
#u27659 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:60px;
  font-size:18px;
  color:#F16366;
}
#u27660 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u27661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u27661 {
  position:absolute;
  left:122px;
  top:198px;
  width:116px;
  height:116px;
}
#u27662 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27663 {
  position:absolute;
  left:152px;
  top:324px;
  width:57px;
  height:20px;
}
#u27664 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 99, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27665 {
  position:absolute;
  left:10px;
  top:488px;
  width:340px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u27666 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
#u27667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27667 {
  position:absolute;
  left:10px;
  top:368px;
  width:140px;
  height:50px;
  color:#999999;
}
#u27668 {
  position:absolute;
  left:10px;
  top:15px;
  width:130px;
  word-wrap:break-word;
}
#u27669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27669 {
  position:absolute;
  left:10px;
  top:418px;
  width:140px;
  height:50px;
  color:#999999;
}
#u27670 {
  position:absolute;
  left:10px;
  top:15px;
  width:130px;
  word-wrap:break-word;
}
#u27671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u27671 {
  position:absolute;
  left:150px;
  top:368px;
  width:200px;
  height:50px;
  text-align:right;
}
#u27672 {
  position:absolute;
  left:0px;
  top:15px;
  width:190px;
  word-wrap:break-word;
}
#u27673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u27673 {
  position:absolute;
  left:150px;
  top:418px;
  width:200px;
  height:50px;
  text-align:right;
}
#u27674 {
  position:absolute;
  left:0px;
  top:15px;
  width:190px;
  word-wrap:break-word;
}
