body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26090 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u26091 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26092 {
  position:absolute;
  left:60px;
  top:580px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u26093 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u26094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26094 {
  position:absolute;
  left:160px;
  top:580px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u26095 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u26096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26096 {
  position:absolute;
  left:260px;
  top:580px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u26097 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u26098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26098 {
  position:absolute;
  left:338px;
  top:618px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u26099 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26100 {
  position:absolute;
  left:0px;
  top:580px;
  width:60px;
  height:60px;
  font-size:14px;
}
#u26101 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u26102 {
  position:absolute;
  left:15px;
  top:601px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u26103 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26104 {
  position:absolute;
  left:260px;
  top:381px;
  width:100px;
  height:200px;
}
#u26104_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:206px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u26105 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:205px;
}
#u26106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26106 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u26107 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u26108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26108 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u26109 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u26110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26110 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u26111 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u26112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26112 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u26113 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u26114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(100, 189, 219, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066CC;
  text-align:left;
  line-height:20px;
}
#u26114 {
  position:absolute;
  left:370px;
  top:578px;
  width:300px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066CC;
  text-align:left;
  line-height:20px;
}
#u26115 {
  position:absolute;
  left:12px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u26116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26116 {
  position:absolute;
  left:238px;
  top:618px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u26117 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26118 {
  position:absolute;
  left:160px;
  top:481px;
  width:100px;
  height:100px;
}
#u26118_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u26119 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u26120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26120 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u26121 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u26122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26122 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u26123 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u26124 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u26124_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26124_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26124_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26124_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u26125 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u26126 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26127 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26128 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u26129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u26129 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
}
#u26130 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
}
#u26131 {
  position:absolute;
  left:60px;
  top:24px;
  width:90px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
}
#u26132 {
  position:absolute;
  left:0px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u26133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:48px;
}
#u26133 {
  position:absolute;
  left:132px;
  top:24px;
  width:28px;
  height:48px;
}
#u26134 {
  position:absolute;
  left:2px;
  top:16px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
