body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1000px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:492px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  font-size:14px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  font-size:14px;
  color:#666666;
}
#u1890 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1891 {
  position:absolute;
  left:180px;
  top:0px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1893 {
  position:absolute;
  left:300px;
  top:0px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1895 {
  position:absolute;
  left:420px;
  top:0px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1897 {
  position:absolute;
  left:540px;
  top:0px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1899 {
  position:absolute;
  left:660px;
  top:0px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1901 {
  position:absolute;
  left:780px;
  top:0px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:60px;
}
#u1903 {
  position:absolute;
  left:400px;
  top:60px;
  width:169px;
  height:60px;
  font-size:14px;
  color:#CCCCCC;
}
#u1904 {
  position:absolute;
  left:2px;
  top:28px;
  width:165px;
  word-wrap:break-word;
}
#u1905 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:80px;
}
#u1905_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:85px;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  text-align:left;
}
#u1908 {
  position:absolute;
  left:10px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1909 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  text-align:left;
}
#u1910 {
  position:absolute;
  left:10px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u1911 {
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:80px;
  visibility:hidden;
}
#u1911_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:85px;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  text-align:left;
}
#u1914 {
  position:absolute;
  left:10px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1915 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  text-align:left;
}
#u1916 {
  position:absolute;
  left:10px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:180px;
  top:40px;
  width:180px;
  height:80px;
  visibility:hidden;
}
#u1917_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:85px;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  text-align:left;
}
#u1920 {
  position:absolute;
  left:10px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1921 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  text-align:left;
}
#u1922 {
  position:absolute;
  left:10px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
