body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26702 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u26703 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26705 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u26705_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26705_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26705_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26705_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u26706 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u26707 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26708 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26709 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u26710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u26710 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u26711 {
  position:absolute;
  left:50px;
  top:13px;
  width:308px;
  word-wrap:break-word;
}
#u26712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26712 {
  position:absolute;
  left:10px;
  top:38px;
  width:20px;
  height:20px;
}
#u26713 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u26715 {
  position:absolute;
  left:336px;
  top:35px;
  width:7px;
  height:26px;
}
#u26716 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26717 {
  position:absolute;
  left:327px;
  top:35px;
  width:26px;
  height:26px;
}
#u26718 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F16366;
}
#u26719 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:60px;
  font-size:18px;
  color:#F16366;
}
#u26720 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u26721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u26721 {
  position:absolute;
  left:122px;
  top:198px;
  width:116px;
  height:116px;
  font-size:14px;
}
#u26722 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26723 {
  position:absolute;
  left:152px;
  top:324px;
  width:57px;
  height:20px;
}
#u26724 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 99, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u26725 {
  position:absolute;
  left:10px;
  top:368px;
  width:340px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u26726 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
