body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u1198 {
  position:absolute;
  left:50px;
  top:50px;
  width:340px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:100px;
}
#u1201 {
  position:absolute;
  left:500px;
  top:50px;
  width:355px;
  height:100px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1202 {
  position:absolute;
  left:70px;
  top:40px;
  width:283px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
  text-align:center;
}
#u1203 {
  position:absolute;
  left:500px;
  top:50px;
  width:80px;
  height:100px;
  font-size:48px;
  color:#999999;
  text-align:center;
}
#u1204 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u1205 {
  position:absolute;
  left:43px;
  top:400px;
  width:340px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1208 {
  position:absolute;
  left:500px;
  top:400px;
  width:355px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1209 {
  position:absolute;
  left:40px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:510px;
  top:410px;
  width:20px;
  height:20px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1211 {
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
