body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28317 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u28318 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28320 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u28320_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28320_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28320_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28320_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u28321 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u28322 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u28323 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u28324 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u28325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u28325 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u28326 {
  position:absolute;
  left:50px;
  top:13px;
  width:308px;
  word-wrap:break-word;
}
#u28327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28327 {
  position:absolute;
  left:10px;
  top:38px;
  width:20px;
  height:20px;
}
#u28328 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u28330 {
  position:absolute;
  left:336px;
  top:35px;
  width:7px;
  height:26px;
}
#u28331 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28332 {
  position:absolute;
  left:327px;
  top:35px;
  width:26px;
  height:26px;
}
#u28333 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F16366;
}
#u28334 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:60px;
  font-size:18px;
  color:#F16366;
}
#u28335 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u28336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28337 {
  position:absolute;
  left:10px;
  top:87px;
  width:30px;
  height:30px;
}
#u28338 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28339_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:33px;
}
#u28339 {
  position:absolute;
  left:19px;
  top:87px;
  width:12px;
  height:30px;
  font-size:14px;
}
#u28340 {
  position:absolute;
  left:2px;
  top:7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28341 {
  position:absolute;
  left:47px;
  top:180px;
  width:267px;
  height:20px;
}
#u28342 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u28343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28343 {
  position:absolute;
  left:90px;
  top:230px;
  width:180px;
  height:180px;
}
#u28344 {
  position:absolute;
  left:2px;
  top:81px;
  width:176px;
  word-wrap:break-word;
}
#u28345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u28345 {
  position:absolute;
  left:290px;
  top:84px;
  width:57px;
  height:36px;
  color:#666666;
}
#u28346 {
  position:absolute;
  left:0px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
