body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u27297 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u27298 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:196px;
  background:inherit;
  background-color:rgba(253, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(252, 218, 219, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u27299 {
  position:absolute;
  left:0px;
  top:132px;
  width:360px;
  height:196px;
  color:#999999;
  line-height:28px;
}
#u27300 {
  position:absolute;
  left:10px;
  top:158px;
  width:350px;
  word-wrap:break-word;
}
#u27302 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  overflow:hidden;
}
#u27302_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27302_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27302_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27302_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u27303 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u27304 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27305 {
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27306 {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u27307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u27307 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u27308 {
  position:absolute;
  left:50px;
  top:13px;
  width:308px;
  word-wrap:break-word;
}
#u27309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27309 {
  position:absolute;
  left:10px;
  top:38px;
  width:20px;
  height:20px;
}
#u27310 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u27312 {
  position:absolute;
  left:336px;
  top:35px;
  width:7px;
  height:26px;
}
#u27313 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27314 {
  position:absolute;
  left:327px;
  top:35px;
  width:26px;
  height:26px;
}
#u27315 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27316 {
  position:absolute;
  left:0px;
  top:580px;
  width:360px;
  height:60px;
}
#u27317 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u27318 {
  position:absolute;
  left:213px;
  top:590px;
  width:24px;
  height:24px;
}
#u27319 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u27320 {
  position:absolute;
  left:33px;
  top:590px;
  width:24px;
  height:24px;
}
#u27321 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u27322 {
  position:absolute;
  left:303px;
  top:590px;
  width:24px;
  height:24px;
}
#u27323 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u27324 {
  position:absolute;
  left:123px;
  top:590px;
  width:24px;
  height:24px;
}
#u27325 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u27326 {
  position:absolute;
  left:0px;
  top:580px;
  width:90px;
  height:60px;
  color:#999999;
  text-align:center;
}
#u27327 {
  position:absolute;
  left:0px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u27328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u27328 {
  position:absolute;
  left:90px;
  top:580px;
  width:90px;
  height:60px;
  color:#999999;
  text-align:center;
}
#u27329 {
  position:absolute;
  left:0px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u27330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F16366;
  text-align:center;
}
#u27330 {
  position:absolute;
  left:180px;
  top:580px;
  width:90px;
  height:60px;
  color:#F16366;
  text-align:center;
}
#u27331 {
  position:absolute;
  left:0px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u27332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u27332 {
  position:absolute;
  left:270px;
  top:580px;
  width:90px;
  height:60px;
  color:#999999;
  text-align:center;
}
#u27333 {
  position:absolute;
  left:0px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u27334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F16366;
}
#u27334 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:60px;
  font-size:18px;
  color:#F16366;
}
#u27335 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u27336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u27336 {
  position:absolute;
  left:0px;
  top:327px;
  width:120px;
  height:100px;
  text-align:center;
}
#u27337 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u27338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u27338 {
  position:absolute;
  left:120px;
  top:327px;
  width:120px;
  height:100px;
  text-align:center;
}
#u27339 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u27340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u27340 {
  position:absolute;
  left:240px;
  top:327px;
  width:120px;
  height:100px;
  text-align:center;
}
#u27341 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u27342_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:61px;
}
#u27342 {
  position:absolute;
  left:35px;
  top:342px;
  width:50px;
  height:50px;
}
#u27343 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27344_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:61px;
}
#u27344 {
  position:absolute;
  left:275px;
  top:342px;
  width:50px;
  height:50px;
}
#u27345 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27346_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:61px;
}
#u27346 {
  position:absolute;
  left:155px;
  top:342px;
  width:50px;
  height:50px;
}
#u27347 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u27348 {
  position:absolute;
  left:0px;
  top:427px;
  width:120px;
  height:100px;
  text-align:center;
}
#u27349 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u27350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u27350 {
  position:absolute;
  left:120px;
  top:427px;
  width:120px;
  height:100px;
  text-align:center;
}
#u27351 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u27352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u27352 {
  position:absolute;
  left:240px;
  top:427px;
  width:120px;
  height:100px;
  text-align:center;
}
#u27353 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u27354_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:61px;
}
#u27354 {
  position:absolute;
  left:35px;
  top:442px;
  width:50px;
  height:50px;
}
#u27355 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27356_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:61px;
}
#u27356 {
  position:absolute;
  left:275px;
  top:442px;
  width:50px;
  height:50px;
}
#u27357 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27358_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:61px;
}
#u27358 {
  position:absolute;
  left:155px;
  top:442px;
  width:50px;
  height:50px;
}
#u27359 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u27360 {
  position:absolute;
  left:10px;
  top:148px;
  width:37px;
  height:40px;
}
#u27361 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u27362 {
  position:absolute;
  left:0px;
  top:218px;
  width:180px;
  height:60px;
  line-height:28px;
}
#u27363 {
  position:absolute;
  left:10px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u27364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u27364 {
  position:absolute;
  left:180px;
  top:218px;
  width:180px;
  height:60px;
  line-height:28px;
}
#u27365 {
  position:absolute;
  left:10px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u27366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 99, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27366 {
  position:absolute;
  left:260px;
  top:278px;
  width:90px;
  height:40px;
  color:#FFFFFF;
}
#u27367 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u27368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:28px;
}
#u27368 {
  position:absolute;
  left:57px;
  top:148px;
  width:160px;
  height:40px;
  font-size:18px;
  line-height:28px;
}
#u27369 {
  position:absolute;
  left:0px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u27370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u27370 {
  position:absolute;
  left:287px;
  top:159px;
  width:26px;
  height:21px;
}
#u27371 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u27372 {
  position:absolute;
  left:320px;
  top:149px;
  width:30px;
  height:40px;
  color:#999999;
  line-height:28px;
}
#u27373 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u27374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 99, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F16366;
}
#u27374 {
  position:absolute;
  left:10px;
  top:536px;
  width:340px;
  height:40px;
  font-size:14px;
  color:#F16366;
}
#u27375 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
#u27376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u27377 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:568px;
  font-size:14px;
}
#u27378 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u27379 {
  position:absolute;
  left:30px;
  top:300px;
  width:300px;
  height:160px;
  font-size:14px;
}
#u27380 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u27381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 99, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27381 {
  position:absolute;
  left:190px;
  top:400px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u27382 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u27383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 99, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F16366;
}
#u27383 {
  position:absolute;
  left:50px;
  top:400px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#F16366;
}
#u27384 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u27385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
  line-height:20px;
}
#u27385 {
  position:absolute;
  left:380px;
  top:580px;
  width:260px;
  height:60px;
  font-size:14px;
  line-height:20px;
}
#u27386 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
